<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Ragione Sociale</th>
      <th scope="col"><a class="btn btn-primary" [routerLink]="['/creator/']">Aggiungi >> </a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clients; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.nomeContatto }}</td>
      <td>{{ item.cognomeContatto}}</td>
      <td>{{ item.ragioneSociale}}</td>
      <td><a class="btn btn-warning" [routerLink]="['/details/' + item.id]">Espandi >> </a><a class="btn btn-danger mx-2">Elimina</a></td>
    </tr>
  </tbody>
</table>