<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Ragione Sociale</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clients; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.nomeContatto }}</td>
      <td>{{ item.cognomeContatto}}</td>
      <td>{{ item.ragioneSociale}}</td>
      <div class="float-right">
        <td><a class="btn btn-warning mx-2" [routerLink]="['/details/' + item.id]">Espandi <b>&#8680;</b> </a><a
            (click)="removeClient(item)" class="btn btn-danger mx-2"><b>&#8999;</b> Elimina</a><a class="btn btn-secondary mx-2"
            [routerLink]="['/update/' + item.id]">Modifica &#10002;</a></td>
      </div>
    </tr>
  </tbody>
</table>