<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Family Name</th>
      <th scope="col">Ragione Sociale</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clients; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.nomeContatto }}</td>
      <td>{{ item.cognomeContatto}}</td>
      <td>{{ item.ragioneSociale}}</td>
      <td><a class="btn btn-warning" [routerLink]="['/details/' + item.id]">Questo:{{item.id}}</a></td>
    </tr>
  </tbody>
</table>