<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Mostra Fatture &#9660;">
        <ng-template ngbPanelContent>
            <div id="scatola">
                <table class="table table-striped mb-3 bordino" *ngFor="let item of recs; index as i">
                    <tbody>
                        <tr>
                            <th scope="row">NUMERO FATTURA</th>
                            <td><b>{{item.numero}}</b></td>
                        </tr>
                        <tr>
                            <th scope="row">DATA</th>
                            <td>{{item.data | date}}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">ANNO</th>
                            <td>{{item.anno}}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">IMPORTO</th>
                            <td>{{item.importo}}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">STATO</th>
                            <td>{{item.stato.nome}}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Nome</th>
                            <td>{{item.cliente.nomeContatto}}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Cognome</th>
                            <td>{{item.cliente.cognomeContatto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>