<table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Nome</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Cognome</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Email</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Email personale</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">PEC</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Teleono</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Telefono Personale</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Ragione Sociale</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Partita IVA</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Indirizzo</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">CAP</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Località</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Comune</th>
        <td>Cell</td>
      </tr>
      <tr class="table">
        <th scope="row">Provincia</th>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>