<table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Nome</th>
        <td>{{client.nomeContatto}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Cognome</th>
        <td>{{client.cognomeContatto}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Email</th>
        <td>{{client.email}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Email personale</th>
        <td>{{client.emailContatto}}</td>
      </tr>
      <tr class="table">
        <th scope="row">PEC</th>
        <td>{{client.pec}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Teleono</th>
        <td>{{client.telefono}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Telefono Personale</th>
        <td>{{client.telefonoContatto}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Ragione Sociale</th>
        <td>{{client.ragioneSociale}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Partita IVA</th>
        <td>{{client.partitaIva}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Indirizzo</th>
        <td>{{client.indirizzoSedeOperativa.via}}{{client.indirizzoSedeOperativa.civico}}</td>
      </tr>
      <tr class="table">
        <th scope="row">CAP</th>
        <td>{{client.indirizzoSedeOperativa.cap}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Località</th>
        <td>{{client.indirizzoSedeOperativa.localita}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Comune</th>
        <td>{{client.indirizzoSedeOperativa.comune.nome}}</td>
      </tr>
      <tr class="table">
        <th scope="row">Provincia</th>
        <td>{{client.indirizzoSedeOperativa.comune.provincia.nome}}
          {{client.indirizzoSedeOperativa.comune.provincia.sigla}}
        </td>
      </tr>
    </tbody>
  </table>